[Unit]
Description=autosync %I
After=network-online.target

[Service]
ExecStart=/opt/autosync/bin/autosync -c /opt/autosync/conf/%i.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
