[Unit]
Description=autosync-server
After=network-online.target

[Service]
ExecStart=/opt/autosync/bin/autosync -c /opt/autosync/conf/server.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target

